<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>volver</ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form #formulario="ngForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required name="username" type="text" [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required name="password" type="text" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" type="submit" [disabled]="formulario.invalid">
    Login
  </ion-button>
</form>

</ion-content>
