<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>volver</ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Pagina de Prueba</h1>
    <ion-text color="dark">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate eos optio nam. Facilis non cum
        veniam impedit eius eum vel aliquid qui, ipsa ducimus voluptates, architecto ipsum hic ex!
      </p>
    </ion-text>
  </ion-text>
</ion-content>